<%= stylesheet_link_tag "application-about", :media => "about" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>

<header class="header-banner">
  <div class="container-width">
    <div class="clearfix">
    </div>
    <div id="header-row" class="row">
    </div>
    <div id="pic-row" class="row">
      <div id="pic-cell" class="cell">
        <img id="pic" src="http://bruneispeakersclub.com/wp-content/uploads/2015/07/Circle_Gerald.png"/>
      </div>
      <div id="name-cell" class="cell">
        <div id="name">Gerald Goh
        </div>
        <div id="profile-desc">I've been pursuing Web Development since 2017. Since then, I've been on a few Massive Open Online Courses in coding, created web applications and recently developed an affinity for Ruby on Rails; thanks to my culmination of problem solving trait as an engineer. I am immensely curious about exploring my creativity in collaborative coding and technologies.
        </div>
      </div>
    </div>
  </div>
</header>
<section id="edu-sect" class="flex-sect">
  <div class="container-width">
    <div class="flex-title">Education
    </div>
    <div id="edu-row" class="row">
    </div>
    <div class="cards">
      <div class="card">
        <div id="card-logo" class="card-header ch1">
        </div>
        <div class="card-body">
          <div class="card-title">CODECADEMY
          </div>
          <div class="card-sub-title">July 2018 - Present
          </div>
          <div class="card-desc">Ruby on Rails || Ruby || JavaScript || Git || ReactJS || Node || SQL: Table Transformation || jQuery || AngularJS 1.X || SQL: Analyzing Business Metric
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch2">
        </div>
        <div class="card-body">
          <div class="card-title">FREECODECAMP
          </div>
          <div class="card-sub-title">March 2018 - Present
          </div>
          <div class="card-desc">Responsive Web Design || Javascript Algorithms And Data Structures
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch3">
        </div>
        <div class="card-body">
          <div class="card-title">UDACITY
          </div>
          <div class="card-sub-title">July 2017 - Jan 2018
          </div>
          <div class="card-sub-title">FULL STACK NANODEGREE
          </div>
          <div class="card-desc">Structures, Programming Fundamentals and the Web  || Developers' Tools || The Backend: Databases & Applications || The Frontend: JavaScript & AJAX || Deploy Web App on Linux Servers
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch4">
        </div>
        <div class="card-body">
          <div class="card-title">UNIVERSITI BRUNEI DARUSSALAM
          </div>
          <div class="card-sub-title">Master of Science (M.Sc.) in Energy Studies
          </div>
          <div class="card-sub-title">August 2014 - September 2015
          </div>
          <div class="card-desc">cGPA: 3.85
          </div>
          <br class="Apple-interchange-newline"/>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch5">
        </div>
        <div class="card-body">
          <div class="card-title">UNIVERSITY OF LINCOLN
          </div>
          <div class="card-sub-title">Bachelor of Engineering (B.Eng.) in Electrical and Electronics Engineering
          </div>
          <div class="card-sub-title">2001 - 2003
          </div>
          <div class="card-desc">2nd Class Lower
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch6">
        </div>
        <div class="card-body">
          <div class="card-title">KDU UNIVERSITY COLLEGE
          </div>
          <div class="card-sub-title">Diploma in Electrical and Electronics Engineering
          </div>
          <div class="card-sub-title">1999 - 2001
          </div>
          <div class="card-desc">3rd Class
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work-sect" class="flex-sect">
  <div class="container-width">
    <div class="flex-title">Work History
    </div>
    <div id="iwsk3u" class="row">
    </div>
    <div class="cards">
      <div class="card">
        <div id="card-logo" class="card-header ch7">
        </div>
        <div class="card-body">
          <div class="card-title">TECHNICAL MANAGER
          </div>
          <div class="card-sub-title">PAR CORPORATION
          </div>
          <div class="card-sub-title">May 2016 - Present
          </div>
          <div class="card-desc">
            <div>
              <div>|| Contribute to 8 infrastructural designs and establishment of requirements 
              </div>
              <div>|| Delegate responsibilities to 5 team member 
              </div>
              <div>|| Deliver projects on time and on budget
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch8">
        </div>
        <div class="card-body">
          <div class="card-title">INSTALLATION MANAGER
          </div>
          <div class="card-sub-title">SEJALIN ENTERPRISE
          </div>
          <div class="card-sub-title">September 2015 - April 2016
          </div>
          <div class="card-desc">
            <div>|| Responsible for coordinating & custom installations of Bang & Olufsen Products 
            </div>
            <div>|| Provided technical solutions for Sales Support and business development
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch9">
        </div>
        <div class="card-body">
          <div class="card-title">SERVICE DELIVERY MANAGER
          </div>
          <div class="card-sub-title">ISHAJAYA TECHNOLOGY
          </div>
          <div class="card-sub-title">May 2010 - August 2015
          </div>
          <div class="card-desc">
            <div>|| Managed day–to-day planning, operation & problem-solving 
            </div>
            <div>|| Established and refined service delivery processes for over 12 projects.
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch10">
        </div>
        <div class="card-body">
          <div class="card-title">SENIOR NETWORK ENGINEER
          </div>
          <div class="card-sub-title">UNIVERSAL SYSTEM TECHNOLOGY
          </div>
          <div class="card-sub-title">December 2008 - March 2010 
          </div>
          <div class="card-desc">
            <div>|| Managed day–to-day team planning, operation and problem-solving
            </div>
            <div>|| Acquired project requirements, design and deliver network/security solutions
            </div>
          </div>
          <br class="Apple-interchange-newline"/>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch11">
        </div>
        <div class="card-body">
          <div class="card-title">SENIOR NETWORK ENGINEER
          </div>
          <div class="card-sub-title">GLOCOMP SYSTEMS
          </div>
          <div class="card-sub-title">September 2004  - August 2008
          </div>
          <div class="card-desc">
            <div>|| Acquired project requirements, design and deliver network/security solutions
            </div>
            <div>|| Nurtured team member's excellence in technical, self-management and soft skills.
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="card-logo" class="card-header ch12">
        </div>
        <div class="card-body">
          <div class="card-title">TRAINEE
          </div>
          <div class="card-sub-title">BURSA MALAYSIA
          </div>
          <div class="card-sub-title">April 2004 - June 2004
          </div>
          <div class="card-desc">
            <div>|| Study and document current processes and procedure of the network administration section (NAS).
              </div>
              <div>|| Performed a study on Bursa Malaysia's Corporate Information Superhighway (COINS).
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blk-sect">
  <div class="container-width">
    <div class="foot-form-title">What I can do
    </div>
    <div id="logo-row">
      <img id="logo" src="https://66.media.tumblr.com/b0d692184bc37b519a35daefbbcf631f/tumblr_pjjyri2LJJ1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/5ef78c11392892a19762213d3fe62e54/tumblr_pjjysqhg7l1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/cdb5a1a088bb28bb68175ffa5f00752d/tumblr_pjjyqbSUbR1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/f4a815f30e2922f13b6e1b96168b8710/tumblr_pjjyi1oPUo1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/fae97bae3803624676f53628170f1a4d/tumblr_pjjxgmZzED1xozando1_100.jpg"/>
    </div>
    <div id="logo-row">
      <img id="logo" src="https://66.media.tumblr.com/25ed7ca73e4c4ed602476f7947231f9d/tumblr_pjjx7bCYvo1xozando1_100.png"/>
      <img id="logo" src="https://66.media.tumblr.com/9d0c096630862322410743048b37bead/tumblr_pjjz0oV4nR1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/b81f5d5dc42662a3fac0758fdf965a41/tumblr_pjjyg3EecF1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/c75c33e26962c3717feeae9b3c04b09a/tumblr_pjjyw59HaZ1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/9db0dd67408d165f02058e522ac88897/tumblr_pjtmw9cyY11xozando1_r1_100.png"/>
    </div>
    <div id="logo-row">
      <img id="logo" src="https://66.media.tumblr.com/80e753a10027f35b4852ac9509b67ea3/tumblr_pjjxoaGcGg1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/14126e7cb8e8ec1209eaea44323e632f/tumblr_pjjyo023QE1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/4cf98c9c0234e792ace2c3e6c96668e1/tumblr_pjjymtIo351xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/a2f0e79c7b52774083ee014e5373e7b3/tumblr_pjjyleY9kp1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/d37be8066b6f4c08dd4fc4849bd3a118/tumblr_pjjyjjdxWY1xozando1_100.jpg"/>
    </div>
    <div id="logo-row">
      <img id="logo" src="https://66.media.tumblr.com/7714fce0f7604f702436bcfbac4eb07e/tumblr_pjjyxu4Dlb1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/79361ac75c49431e9aef9a2f2557d419/tumblr_pjjxbb562R1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/80cdf6d8327c3e10e0e4cdafb0112df5/tumblr_pjjxkfOhnN1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/ffc39f97828f325e43ac73ea130d65ba/tumblr_pjjxeh7AIw1xozando1_100.jpg"/>
      <img id="logo" src="https://66.media.tumblr.com/a362a81bab2b0cd61f9d04e88120760b/tumblr_pjjytytJwm1xozando1_100.jpg"/>
    </div>
  </div>
</section>
