<div class="main portfolio"> 
  <% if false %>
  <div class="jumbotron slideshow"> 
    <div class="slideshow-container"> 
      <div class="slide"> 
        <img alt="Slide01" src="https://portfolio-rails-2633.herokuapp.com/assets/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg" /> 
      </div> 
      <div class="slide"> 
        <img alt="Slide02" src="https://portfolio-rails-2633.herokuapp.com/assets/slide02-3c9662ea3f8d9ce479b5a76aedfa3f7b.jpg" /> 
      </div> 
      <div class="slide"> 
        <img alt="Slide03" src="https://portfolio-rails-2633.herokuapp.com//assets/slide03-4e85ff59d4201786022aecf410d35d4f.jpg" /> 
      </div> 
      <div class="slide"> 
        <img alt="Slide04" src="https://portfolio-rails-2633.herokuapp.com/assets/slide04-38bd2e1296452662195acbb9cabafda6.jpg" />
      </div>
      <div class="slide">
        <img alt="Slide05" src="https://portfolio-rails-2633.herokuapp.com/assets/slide05-0d54918a8bf7af849bbe49da704e6bb6.jpg" />
      </div>
    </div>
  </div>
  <% end %>

  <div class="container">
    <div class="row">
      <a class="col-md-6 project" href="https://ggoh-trailer.herokuapp.com/">
        <div class="thumbnail-header">
          <!-- <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div> -->
        </div>
        <div class="thumbnail">
          <img alt="Project01" src="https://66.media.tumblr.com/efae8250311ce6e108d8b2a3f017cb94/tumblr_pj3ovbXvod1xozando1_1280.jpg" />
        </div>
        <h3>Movie Trailer Web App</h3>
        <p>A server-side python code to store a list of favorite movies, including box art imagery and a movie trailer URL.</p>
      </a>
      <a class="col-md-6 project" href="https://ggoh-item-catalog.herokuapp.com">
        <div class="thumbnail-header">
          <!-- <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div> -->
        </div>
        <div class="thumbnail">
          <img alt="Project02" src="https://66.media.tumblr.com/90e112247aa2f31df82f9c73847c0405/tumblr_pj3p61Sjwa1xozando1_540.jpg" />
        </div>
        <h3>Item Catalog</h3>
        <p>A Python application that provides a list of items within a variety of categories as well as provide a user registration and authentication system. Oauth registered users will have the ability to post, edit and delete their own items.</p>
      </a>
    </div>

    <div class="row">
      <a class="col-md-6 project" href="https://geraldgsh.github.io/map.html">
        <div class="thumbnail-header">
          <!-- <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div> -->
        </div>
        <div class="thumbnail">
          <img alt="Project03" src="https://66.media.tumblr.com/b3d126e9c0282f70a4812a5a0a6bf382/tumblr_pj40j4crZZ1xozando1_1280.jpg" />
        </div>
        <h3>Neighborhood Map</h3>
        <p>A single page application featuring a map of a neighborhood. Functionality in this map includes highlighted locations, third-party data about those locations and various ways to browse the content.</p>
      </a>
      <a class="col-md-6 project" href="https://ggoh-pictogram.herokuapp.com/">
        <div class="thumbnail-header">
          <!-- <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div> -->
        </div>
        <div class="thumbnail">
          <img alt="Project04" src="https://66.media.tumblr.com/26f000a46cbcac59b61333e9d5125f3b/tumblr_pj410bpgvh1xozando1_1280.jpg" />
        </div>
        <h3>Pictogram</h3>
        <p>An Instagram clone running on Ruby On Rails</p>
      </a>
    </div>

    <div class="row">
      <a class="col-md-6 project" href="https://ggoh-stories.herokuapp.com/">
        <div class="thumbnail-header">
          <!-- <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div> -->
        </div>
        <div class="thumbnail">
          <img alt="Project05" src="https://66.media.tumblr.com/454000b8a61d8f9e97f977c03643ebd5/tumblr_pj44gpVTBM1xozando1_1280.jpg" />
        </div>
        <h3>Stories</h3>
        <p>A travel journal app running on Ruby on Rails. On the contact page when a user enters her contact information, it is saved into the app's database.</p>
      </a>
      <a class="col-md-6 project" href="https://ggoh-bass-music.herokuapp.com/">
        <div class="thumbnail-header">
          <!-- <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div> -->
        </div>
        <div class="thumbnail">
          <img alt="Project06" src="https://66.media.tumblr.com/826241161ccfa94d3776e9a778d20392/tumblr_pj44tsolRI1xozando1_1280.jpg" />
        </div>
        <h3>Bass Music</h3>
        <p>An Bass Music app running on Ruby On Rails. A RoR project from codecademy. An album contains a cover, title, and artist. This means an Album model needs to store this data. The second piece of data is needed to store is a track. A track contains a song's name and duration. This means a Track model is required to store this data.</p>
      </a>
    </div>

  </div>
</div>

